<MudPaper Height="55%" Class="mud-theme-primary ma-4">
	<div class="d-flex flex-row justify-space-between">
		<MudPaper Class="mud-theme-seconday pa-4 ma-4">
			- List of players and cards remaining -
		</MudPaper>
		<MudPaper Class="mud-theme-tertiary pa-4 ma-4">
			- Pile -
		</MudPaper>
	</div>
</MudPaper>

@code {
	[Parameter]
	public List<ICardHand>? Pile { get; set; }

	[Parameter]
	public EventCallback<List<ICardHand>> PileChanged { get; set; }

}
